.kaufman {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color:  #1f1f1f;
  color: white;
  overflow: hidden;
  position: relative;
  z-index: 3;
  padding-top: 90px;
  padding-bottom: 90px;
}
